<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>List</title>
  </head>
  <body class="px-4">
    <div class="container mx-auto">
      <h1 class="text-center font-bold text-lg my-4">List elements</h1>

      <!-- Modal new Film -->
      <%- include('../partials/_modal'); %>

      <!-- List films -->
      <%- include('../partials/_list-films', {films: films}); %>
    </div>

    <script src="js/modal.js"></script>
  </body>
</html>
